---
import AndorDev from '@assets/casestudies/andordev.png';
import Blockrecipes from '@assets/casestudies/blockrecipes-desktop.png';
import CNCPT from '@assets/casestudies/cncpt.png';
import Homezy from '@assets/casestudies/homezy.png';
import Wellbeing from '@assets/portfolio/wellbeing.png';
import CaseStudy from '@components/ui/astro/case-study.astro';
import SectionHead from '@components/ui/react/section-head';

interface CaseStudy {
  img: ImageMetadata;
  title: string;
  description: string;
  href: string;
  tags: string[];
}

const Casestudies = [
  {
    img: CNCPT,
    title: 'CNCPT',
    description:
      'CNCPT, a leading interior design and architectural studio, entrusted Sweeny Studio to design and develop their website. We created a sleek and user-friendly platform that reflects their brand and empowers their mission to revolutionize the industry. This collaboration has resulted in a surge in CNCPT’s online presence and lead generation.',
    href: '/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
  {
    img: AndorDev,
    title: 'AndorDev',
    description:
      "Marketing and automation powerhouse, AndorDev, sought Sweeny Studio to design and develop their website. We crafted a sleek and user-friendly platform that reflects their brand and empowers their mission to revolutionize the industry. This collaboration has resulted in a surge in AndorDev's online presence and lead generation.",
    href: '/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
  {
    img: Blockrecipes,
    title: 'Blockrecipes',
    description:
      'BlockRecipes, a game-changer in real-time blockchain technology, entrusted Sweeny Studio to design and develop their website. We created a modern and secure platform that reflects their innovative spirit and simplifies complex real-time blockchain data for businesses. This collaboration has positioned BlockRecipes as a leader in the blockchain B2B space, attracting new clients and streamlining their digital presence.',
    href: '/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
  {
    img: Wellbeing,
    title: 'Wellbeing X',
    description:
      'Wellbeing X is a groundbreaking platform that uses cutting-edge technology to empower individuals and organizations to achieve their full potential for mental, physical, and emotional well-being. At Sweeny Studio, we were honored to design, develop, and deploy their user-friendly and visually stunning website, which has become a critical tool in their mission to promote holistic wellness across the globe.',
    href: '/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
  {
    img: Homezy,
    title: 'Homezy',
    description:
      "Homezy, a comprehensive real estate agency seeking to simplify the buying, selling, and managing of properties, partnered with Sweene Studio. We designed a user-friendly website and online portal, empowering their team and clients with seamless access to information and resources. This collaboration has elevated Homezy's online presence and established them as a trusted partner for real estate success.",
    href: '/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
];
---

<section class="my-32 min-h-screen">
  <SectionHead title="Case Studies." className="text-center" />
  <div class="relative flex flex-col gap-y-8">
    {
      Casestudies.map((item) => (
        <CaseStudy
          img={item.img}
          title={item.title}
          description={item.description}
          href={item.href}
          tags={item.tags}
        />
      ))
    }
  </div>
</section>
