---
import Blockrecipes from '@assets/casestudies/blockrecipes-desktop.png';
import ElectricConfetti from '@assets/casestudies/electric-confetti-tablet.png';
import GoodMix from '@assets/casestudies/goodmix-desktop.jpeg';
import Kahuna from '@assets/casestudies/kahuna-desktop.jpeg';
import MacSweeny from '@assets/casestudies/mac-sweeny-tablet.png';
import PaydeskMobile from '@assets/casestudies/paydesk-mobile.png';
import Sectionhead from '@components/sections/sectionhead.astro';
import Casestudy from '@components/ui/astro/casestudy.astro';
---

<section class="my-32 min-h-screen">
  <Sectionhead title="Case Studies." style="text-center" />
  <div class="my-32 grid h-full grid-cols-12 items-baseline">
    <div class="col-span-5">
      <Casestudy
        imageSrc={MacSweeny}
        imageAlt="Mac Sweeny"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Mac Sweeny"
        url="https://www.mac-sweeny.dev/"
      />
    </div>
    <div class="ite col-span-5 col-start-7">
      <Casestudy
        imageSrc={Kahuna}
        imageAlt="Kahuna"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Goodmix"
        url="https://www.kahunaconnect.com/"
      />
    </div>
  </div>
  <div class="my-32 grid h-full grid-cols-12 items-baseline">
    <div class="col-span-8 col-start-3">
      <Casestudy
        imageSrc={Blockrecipes}
        imageAlt="BlockRecipes"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Blockrecipes"
        url="https://www.blockrecipes.io/"
      />
    </div>
  </div>
  <div class="my-32 grid h-full grid-cols-12 items-baseline">
    <div class="col-span-6 col-start-2">
      <Casestudy
        imageSrc={ElectricConfetti}
        imageAlt="Electric Confetti"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Goodmix"
        url="https://www.goodmix.com.au/"
      />
    </div>
    <div class="col-span-3 col-start-9">
      <Casestudy
        imageSrc={PaydeskMobile}
        imageAlt="Paydesk Mobile"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Paydesk"
        url="https://www.paydesk.co/"
      />
    </div>
  </div>
</section>
