---
import Blockrecipes from '@assets/casestudies/blockrecipes-desktop.png';
import CaseStudy from '@components/ui/astro/case-study.astro';
import SectionHead from '@components/ui/react/section-head';

interface CaseStudy {
  img: ImageMetadata;
  title: string;
  description: string;
  href: string;
  tags: string[];
}

const Casestudies = [
  {
    img: Blockrecipes,
    title: 'Blockrecipes',
    description: 'Blockrecipes is a real-time data analytics platform for the blockchain.',
    href: 'https://www.blockrecipes.io/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
  {
    img: Blockrecipes,
    title: 'Blockrecipes',
    description: 'Blockrecipes is a real-time data analytics platform for the blockchain.',
    href: 'https://www.blockrecipes.io/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
  {
    img: Blockrecipes,
    title: 'Blockrecipes',
    description: 'Blockrecipes is a real-time data analytics platform for the blockchain.',
    href: 'https://www.blockrecipes.io/',
    tags: ['Web Design', 'Web Development', 'Hosting'],
  },
];
---

<section class="my-32 min-h-screen">
  <SectionHead title="Case Studies." className="text-center" />
  <div class="relative flex flex-col gap-y-8">
    {
      Casestudies.map((item) => (
        <CaseStudy
          img={item.img}
          title={item.title}
          description={item.description}
          href={item.href}
          tags={item.tags}
        />
      ))
    }
  </div>
</section>
<!-- <div class="my-32 h-full items-baseline lg:grid lg:grid-cols-12">
    <div class="lg:col-span-5">
      <CaseStudy
        client:load
        imageSrc={MacSweeny}
        imageAlt="Mac Sweeny"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Mac Sweeny"
        url="https://www.mac-sweeny.dev/"
      />
    </div>
    <div class="col-span-5 col-start-7">
      <CaseStudy
        client:load
        imageSrc={Kahuna}
        imageAlt="Kahuna"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Goodmix"
        url="https://www.kahunaconnect.com/"
      />
    </div>
  </div>
  <div class="my-32 h-full items-baseline lg:grid lg:grid-cols-12">
    <div class="col-span-8 col-start-2">
      <CaseStudy
        client:load
        imageSrc={Blockrecipes}
        imageAlt="BlockRecipes"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Blockrecipes"
        url="https://www.blockrecipes.io/"
      />
    </div>
  </div>
  <div class="my-32 h-full items-baseline lg:grid lg:grid-cols-12">
    <div class="col-span-6 col-start-2">
      <CaseStudy
        client:load
        imageSrc={ElectricConfetti}
        imageAlt="Electric Confetti"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Goodmix"
        url="https://www.goodmix.com.au/"
      />
    </div>
    <div class="col-span-3 col-start-9">
      <CaseStudy
        client:load
        imageSrc={PaydeskMobile}
        imageAlt="Paydesk Mobile"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Paydesk"
        url="https://www.paydesk.co/"
      />
    </div>
  </div> -->
