---
import Screenshot1 from '@assets/example-1.png';
import Screenshot2 from '@assets/example-2.png';
import Screenshot3 from '@assets/example-3.png';
import ScrollingContent from '@components/ui/react/scrolling-content';
import { Picture } from 'astro:assets';
---

<div class="my-16">
  <ScrollingContent client:load baseVelocity={100}>
    <Picture src={Screenshot1} format="png" alt="Screenshot1" />
    <Picture src={Screenshot2} format="png" alt="Screenshot2" />
    <Picture src={Screenshot3} format="png" alt="Screenshot3" />
    <Picture src={Screenshot1} format="png" alt="Screenshot3" />
    <Picture src={Screenshot2} format="png" alt="Screenshot3" />
    <Picture src={Screenshot3} format="png" alt="Screenshot3" />
  </ScrollingContent>
</div>
