---
import Box from '@components/ui/box.astro';
import { Picture } from 'astro:assets';

const { text, title, name, image } = Astro.props;
---

<Box
  class="flex w-[calc(100vw-5.75rem)] max-w-md shrink-0 snap-start snap-always scroll-m-5 flex-col justify-between first-of-type:scroll-m-10"
>
  <!-- <div class="absolute font-serif text-5xl left-2 top-8 text-slate-300 -z-10">
    “
  </div> -->
  <blockquote class="text-lg [text-wrap:balance] md:text-xl">{text}</blockquote>
  <div class="mt-10 flex items-center gap-3">
    <div class="shrink-0">
      <Picture
        class="h-12 w-12 rounded-full bg-slate-100 object-cover"
        formats={['avif', 'webp']}
        src={image}
        alt={name}
        width="48"
        height="48"
        loading="lazy"
      />
    </div>
    <div>
      <h2 class="font-medium text-slate-800">{name}</h2>
      <p class="text-sm text-slate-600">{title}</p>
    </div>
  </div>
</Box>
